<div id="<%= dom_id gamerprofile %>">
  <p>
    <strong>First name:</strong>
    <%= gamerprofile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= gamerprofile.last_name %>
  </p>

  <p>
    <strong>Favorite genere:</strong>
    <%= gamerprofile.favorite_genere %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= gamerprofile.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= gamerprofile.password %>
  </p>

</div>
