<p style="color: green"><%= notice %></p>

<%= render @gamerprofile %>

<div>
  <%= link_to "Edit this gamerprofile", edit_gamerprofile_path(@gamerprofile) %> |
  <%= link_to "Back to gamerprofiles", gamerprofiles_path %>

  <%= button_to "Destroy this gamerprofile", @gamerprofile, method: :delete %>
</div>
