<div id="<%= dom_id game_profile %>">
  <p>
    <strong>First name:</strong>
    <%= game_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= game_profile.last_name %>
  </p>

  <p>
    <strong>Favorite genere:</strong>
    <%= game_profile.favorite_genere %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= game_profile.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= game_profile.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= game_profile.email %>
  </p>

</div>
