<div id="<%= dom_id gamer %>">
  <p>
    <strong>First name:</strong>
    <%= gamer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= gamer.last_name %>
  </p>

  <p>
    <strong>Favorite genere:</strong>
    <%= gamer.favorite_genere %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= gamer.username %>
  </p>

  <% if @gamer.library %>
  <p><strong>Game Names:</strong> <%= @gamer.library.game_name %></p>
  <p><strong>Game Descriptions:</strong> <%= @gamer.library.game_desc %></p>
<% else %>
  <p>No game information available.</p>
<% end %>

</div>
