<div id="<%= dom_id gamer %>">
  <p>
    <strong>First name:</strong>
    <%= gamer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= gamer.last_name %>
  </p>

  <p>
    <strong>Favorite genere:</strong>
    <%= gamer.favorite_genere %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= gamer.username %>
  </p>

</div>
