<!DOCTYPE html>
<html>
 <head>
   <title>YourApp</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <!-- Include Bootstrap CSS via CDN -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
   <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
   <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
 </head>

<!-- Flash message for Devise(User Authercation) -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<!-- Banner at the top -->
   <div class="banner">
     <p>Welcome to the Testing Server Banner! Important information will be here!</p>
   </div>

<!-- Banner Styling -->
  <style>
 .banner {
    position: sticky; /* makes banner stay at the top of the page */
    top: 0; /* banner stays at the top of the page */
    z-index: 1000; /* Ensures the banner stays on top of everything on z plane */
    background-color: #F6F068; /* Yellow color for banner */
    text-align: center;
 }
  </style>
 


 <!-- Header Added with 'jumbotron' -->
 <!-- Header with background color green from # and text coloring with "color" -->
 <div class="jumbotron" style="background-color: #4CAF50; color: white;">
  <h1>Testing Server</h1>
  <p>Testing Words!</p>
</div>

<!-- Adding a sidebar for users -->
 <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1">Gamer</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" "new_gamer_session_path">Sign In</a></li>
                        <li><a class="dropdown-item" "destroy_gamer_session_path">Sign Out</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of side bar. Needs to left of everything! FIX -->

<!-- Sign up/in/out button -->
<% if gamer_signed_in? %>
  <%= button_to "Sign Out", destroy_gamer_session_path, method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to 'Sign In', new_gamer_session_path, class: "btn btn-primary" %>
  <%= link_to 'Sign Up', new_gamer_registration_path, class: "btn btn-success" %>
<% end %>


 <body>
<!--Test Dropdown  -->
   <div class="dropdown">
     <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Dropdown button
     </button>
     <ul class="dropdown-menu">
       <li><a class="dropdown-item" href="https://www.msudenver.edu/">MSU Home Page</a></li>
       <li><a class="dropdown-item" href="https://www.msudenver.edu/studenthub/">MSU Student Hub</a></li>
       <li><a class="dropdown-item" href="gamers#new">New Student?</a></li>
     </ul>
   </div>
   <%= yield %>

  
 




 </body>
</html>